In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [11]:
df = pd.read_csv('SBA_cleaned.csv')
df

,City,State,NAICS,Term,NoEmp,NewExist,LowDoc,MIS_Status,GrAppv,SBA_Appv
0,EVANSVILLE,IN,45.0,84,4,2.0,Y,P I F,60000.0,48000.0
1,BLOOMINGTON,IN,62.0,180,7,1.0,N,P I F,287000.0,215250.0
2,PLAINVILLE,CT,33.0,120,19,1.0,N,P I F,517000.0,387750.0
3,SUMMERFIELD,FL,81.0,84,1,2.0,Y,P I F,45000.0,36000.0
4,CHARLOTTE,NC,81.0,84,1,2.0,Y,P I F,70000.0,56000.0
...,...,...,...,...,...,...,...,...,...,...
486639,OAKLAND,CA,32.0,240,8,1.0,N,P I F,189000.0,189000.0
486640,EDINA,MN,62.0,108,1,1.0,N,P I F,169000.0,126750.0
486641,CHARLESTON,SC,11.0,120,2,1.0,N,P I F,45000.0,22500.0
486642,BALTIMORE,MD,33.0,60,20,1.0,N,P I F,50000.0,25000.0
486643,COLUMBUS,OH,45.0,60,6,1.0,N,P I F,85000.0,42500.0

In [3]:
# df.loc[df['LowDoc'] == 'Y', 'LowDoc'] = 1
# df.loc[df['LowDoc'] == 'N', 'LowDoc'] = 0

In [4]:
# 2 = new business
# df.loc[df['NewExist'] == 1, 'NewExist'] = 0
# df.loc[df['NewExist'] == 2, 'NewExist'] = 1

In [5]:
df.head(5)

,City,State,NAICS,Term,NoEmp,NewExist,LowDoc,MIS_Status,GrAppv,SBA_Appv
0,EVANSVILLE,IN,45.0,84,4,1.0,1,P I F,60000.0,48000.0
1,BLOOMINGTON,IN,62.0,180,7,0.0,0,P I F,287000.0,215250.0
2,PLAINVILLE,CT,33.0,120,19,0.0,0,P I F,517000.0,387750.0
3,SUMMERFIELD,FL,81.0,84,1,1.0,1,P I F,45000.0,36000.0
4,CHARLOTTE,NC,81.0,84,1,1.0,1,P I F,70000.0,56000.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 486644 entries, 0 to 486643
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   City        486644 non-null  object
 1   State       486644 non-null  object
 2   NAICS       486644 non-null  float64
 3   Term        486644 non-null  int64
 4   NoEmp       486644 non-null  int64
 5   NewExist    486644 non-null  float64
 6   LowDoc      486644 non-null  object
 7   MIS_Status  486644 non-null  object
 8   GrAppv      486644 non-null  float64
 9   SBA_Appv    486644 non-null  float64
dtypes: float64(4), int64(2), object(4)
memory usage: 37.1+ MB

In [9]:
box = list(df.columns)
box

['City',
 'State',
 'NAICS',
 'Term',
 'NoEmp',
 'NewExist',
 'LowDoc',
 'MIS_Status',
 'GrAppv',
 'SBA_Appv']

In [12]:
box = [
 'Term',
 'NoEmp',
 'GrAppv',
 'SBA_Appv']
out_df = df.copy()
for feature in box:
        data = pd.DataFrame(df[feature])
        scaler = MinMaxScaler(feature_range=(0, 1))
        normalized = scaler.fit_transform(data)
        out_df[feature] = [float(x) for x in normalized]
out_df

,City,State,NAICS,Term,NoEmp,NewExist,LowDoc,MIS_Status,GrAppv,SBA_Appv
0,EVANSVILLE,IN,45.0,0.147627,0.0004,2.0,Y,P I F,0.011802,0.010368
1,BLOOMINGTON,IN,62.0,0.316344,0.0007,1.0,N,P I F,0.057211,0.046873
2,PLAINVILLE,CT,33.0,0.210896,0.0019,1.0,N,P I F,0.103221,0.084525
3,SUMMERFIELD,FL,81.0,0.147627,0.0001,2.0,Y,P I F,0.008802,0.007749
4,CHARLOTTE,NC,81.0,0.147627,0.0001,2.0,Y,P I F,0.013803,0.012114
...,...,...,...,...,...,...,...,...,...,...
486639,OAKLAND,CA,32.0,0.421793,0.0008,1.0,N,P I F,0.037608,0.041144
486640,EDINA,MN,62.0,0.189807,0.0001,1.0,N,P I F,0.033607,0.027556
486641,CHARLESTON,SC,11.0,0.210896,0.0002,1.0,N,P I F,0.008802,0.004802
486642,BALTIMORE,MD,33.0,0.105448,0.0020,1.0,N,P I F,0.009802,0.005348
486643,COLUMBUS,OH,45.0,0.105448,0.0006,1.0,N,P I F,0.016803,0.009167

In [13]:
out_df.to_csv('data_normalized.csv')